.basket-table{
    width: 60%;
    margin: 5rem auto;
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
    h1{
        color: var(--third-color);
        background-color: var(--primary-color);
        border-radius: 1rem;
        padding: 0 1rem;
    }
    .basket-item{
        color: var(--primary-color);
        font-size: 1rem;
        border-bottom: 1px dashed var(--primary-color);
        border-radius: 1rem;
        text-align: center;
    }
    .button-full {
        float: right;
        margin: 0.5rem;
        border-radius: 0.2rem;
        padding: 0.3rem;
        border: none;
        letter-spacing: 0.1rem;
      }
}