nav {
  height: 10vh;
  width: 100%;
  background-color: var(--third-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--primary-color);
  font-size: 1.2rem;
  letter-spacing: .2rem;
  .menu-text{
    transition: var(--links-transition);
    &:hover{
        cursor: pointer;
        color: var(--secondary-color);
    }
  }
  .menu-logo {
    .logo {
      width: 100px;
    }
  }
  .menu-icon {
    margin: 0 1rem 0 0;
    .icon {
      width: 20px;
      &:hover {
        cursor: pointer;
        filter: invert(84%) sepia(33%) saturate(4719%) hue-rotate(195deg) brightness(106%) contrast(101%);
      }
    }
  }
}
