<nav>
  <a class="menu-logo" routerLink=""
    ><img class="logo" [src]="logo" alt="logo"
  /></a>
  <div *ngFor="let item of menu" class="menu-text">
    <div *ngIf="showContainer === true" value="item" (click)="goToLink(item)">{{ item }}</div>
  </div>
  <a class="menu-icon" routerLink="/profile"
    ><img class="icon" [src]="account" alt="account"
  /></a>
  <a class="menu-icon" routerLink="/cart"
    ><img class="icon" [src]="cart" alt="cart"
  /></a>
  <a class="menu-icon" (click)="displayMenu()" *ngIf="showContainer === false"
    ><img class="icon" [src]="menuHamburger" alt="menu"
  /></a>
</nav>
<app-menu></app-menu>
