<div class="container">
    <div class="discount-card">
        <h1 class="discount-name">50% less for children</h1>
        <div class="discount-description">50% discount for children up to 8 years old</div>
        <div class="discount-activation">Activate automatically</div>
    </div>
    <div class="discount-card">
        <h1 class="discount-name">50% for fifth ticket</h1>
        <div class="discount-description">50% discount on the fifth ticket when you buy at least 5 tickets for one flight in one transaction</div>
        <div class="discount-activation">Activate automatically</div>
    </div>
</div>