.profile-background {
  background-color: var(--secondary-color);
  width: 60%;
  margin: 5rem auto;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  .button-full {
    margin: auto;
    display: block;
    // margin: 0.5rem;
    border-radius: 0.2rem;
    padding: 0.3rem;
    border: none;
    letter-spacing: 0.1rem;
  }
  .flights-searcher-option {
    text-transform: none;
  }
  .user-logged{
    color: var(--third-color);
    font-size: 2rem;
    text-transform: uppercase;
  }
}
