<form [formGroup]="flightsSearcher" class="flights-searcher">
    <select name="departures" id="departures" formControlName="departures" #airport (change)="chooseStart(airport.value)">
        <option disabled selected hidden>Origin</option>
        <option  *ngFor="let item of allAirports; let i = index" [value]="i" >{{allAirports[i].name}}</option>
    </select>
    <select name="destination" id="destination" formControlName="destination" #destination (change)="chooseDestination(destination.value)">
        <option  disabled selected hidden>Destination</option>
        <option  *ngFor="let item of departures" [value]="item">{{item}}</option>
    </select>
    <input type="date" [min]="latestDate">
    <button>Book now</button>
</form>

