<form [formGroup]="flightsSearcher" class="flights-searcher">
    <select name="departures" id="departures" formControlName="departures" #airport (change)="chooseStart(airport.value)">
        <option  *ngFor="let item of allAirports; let i = index" [value]="i" >{{allAirports[i].name}}</option>
    </select>
    <select name="departures" id="departures" formControlName="departures">
        <!-- <ng-container *ngFor="let item of allAirports; let i = index"> -->
        <option  *ngFor="let item of departures" value="">{{item}}</option>
        <!-- </ng-container> -->
    </select>
</form>

