<form [formGroup]="flightsSearcher" class="flights-searcher">
    <select name="departures" id="departures" formControlName="departures" #airport (change)="chooseStart(airport.value)" class="flights-searcher-option">
        <option disabled selected hidden>Origin</option>
        <option  *ngFor="let item of allAirports; let i = index" [value]="i" >{{allAirports[i].name}}</option>
    </select>
    <select name="destination" id="destination" formControlName="destination" #destination (change)="chooseDestination(destination.value)" class="flights-searcher-option">
        <option  disabled selected hidden>Destination</option>
        <option  *ngFor="let item of departures" [value]="item">{{item}}</option>
    </select>
    <input type="date" [min]="latestDate" formControlName="startDate" class="flights-searcher-option">
    <input type="date" [min]="latestDate" formControlName="comebackDate" class="flights-searcher-option">
    <input type="number" placeholder="Number of passangers" formControlName="passangersNumber" class="flights-searcher-option">
    <button class="button-full">Add to cart</button>
</form>


