:root {
    --primary-color: rgba(147, 129, 255, 1);
    --secondary-color: rgba(184, 184, 255, 1);
    --third-color: rgba(248, 247, 255, 1);
    --links-transition: all .3s ease-in-out;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    font-family: "Lato", sans-serif;
  }
  .button-full{
    background-color: var(--primary-color);
    text-transform: uppercase;
    color: var(--third-color);
    transition: var(--links-transition);
    &:hover{
      color: var(--primary-color);
      background-color: var(--third-color);
      cursor: pointer;

  }
}