:root {
    --primary-color: rgba(147, 129, 255, 1);
    --secondary-color: rgba(184, 184, 255, 1);
    --third-color: rgba(248, 247, 255, 1);
    --links-transition: all .3s ease-in-out;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    font-family: "Lato", sans-serif;
    background-color: var(--third-color);
  }
  .button-full{
    background-color: var(--primary-color);
    text-transform: uppercase;
    color: var(--third-color);
    transition: var(--links-transition);
    &:hover{
      color: var(--primary-color);
      background-color: var(--third-color);
      cursor: pointer;

  }
}
.flights-searcher-option{
  width: 60%;
  height: 2rem;
  margin: .5rem;
  border-radius: .2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  background-color: var(--third-color);
  color: var(--primary-color);
  border: var(--third-color) 2px solid;
  outline: none;
  &:focus{
      border: var(--primary-color) 2px solid;
  }
  &:active{
      border: var(--primary-color) 2px solid;
  }
  &::placeholder{
      color: var(--primary-color);
      // font-size: .5rem;
  }
}