.menu {
  width: 100%;
  height: 100vh;
  background-color: #9381ff;
  position: absolute;
  z-index: 2;
  top: 0;
  display: none;
  color: var(--third-color);
  font-size: 1.5rem;
  letter-spacing: .2rem;
}

.menu .close {
  padding: 2rem;
  font-weight: 900;
  display: block;
  text-align: end;
  transition: var(--links-transition);
  cursor: pointer;
}

.menu .close:hover {
  color: var(--secondary-color);
}

.menu .menu-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu .menu-list li {
  padding: .5rem;
  transition: var(--links-transition);
  cursor: pointer;
}

.menu .menu-list li:hover {
  color: var(--secondary-color);
}
